//variables
@import '../../../variable.scss';

.winner-gift-page {
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // overflow: hidden;

  @media only screen and (max-width: 576px) {
    height: 90vh;
    min-height: 505px;
  }

  .bottom-height {
    height: 150px;

    @media only screen and (max-width: 576px) {
      height: 110px;
    }
  }

  .z-i0 {
    z-index: 0 !important;
  }

  .tap {
    height: 60px;
    position: fixed;
    bottom: 50px;
    z-index: 3;

    @media only screen and (max-width: 576px) {
      height: 35px;
    }
  }

  .giftbox {
    perspective: 900px;
    position: relative;
    width: 100%;
    margin: -150px auto 0;

    @media only screen and (max-width: 992px) {
      margin: -125px auto 0;
    }

    @media only screen and (max-width: 576px) {
      margin: -55px auto 0;
    }
  }

  #flip {
    // z-index: 20;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .closeit {
      // height: 525px;
      // width: 850px;
      height: 411px;
      width: 725px;
      // z-index: 20;
      position: relative;


      @media screen and (max-width:992px) {
        height: 411px;
        width: 725px;
      }

      @media screen and (max-width:576px) {
        height: 190px;
        width: 300px;
      }
    }

    #lid {
      z-index: 2;
    }

  }

  .box {
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;

    img {
      // width: 850px;
      // height: 704px;
      width: 725px;
      height: 600px;

      @media screen and (max-width:992px) {
        width: 725px;
        height: 600px;
      }

      @media screen and (max-width:576px) {
        width: 300px;
        height: 380px;
      }
    }

  }

  .letter {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;

    #paper {
      top: auto;
      bottom: 0px;
      perspective: 950px;
      perspective-origin: 50%;
      position: absolute;
      margin: 0 auto 20px;
      padding: 50px 50px 120px;
      z-index: -1;
      display: none;
      background: #ffffff;
      text-align: center;
      border: 7px solid $brand-color-2;
      // width: 805px;
      width: 690px;

      @media screen and (max-width:992px) {
        width: 690px;
      }

      @media screen and (max-width:576px) {
        width: 285px;
        padding: 10px 10px 55px;
      }

      .winner-head {
        width: 90%;
        margin: 1vh auto;
        font-family: $brand-font-family-5;
        font-size: 1.8em;
        line-height: 38px;
        color: $brand-color-2;

        @media only screen and (max-width: 1200px) {
          font-size: 1.5em;
          line-height: 32px;
        }

        @media only screen and (max-width: 992px) {
          font-size: 1.2em;
          line-height: 1.1em;
        }

        @media only screen and (max-width: 576px) {
          font-size: 1em;
        }

        img {
          width: 50%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          padding: 10px;
        }
      }

      .winner-text {
        color: $brand-color-1;
        font-size: 1.5em;
        line-height: 30px;
        padding: 10px 20px;

        @media only screen and (max-width: 1200px) {
          font-size: 1.1em;
          line-height: 1.1em;
        }

        @media only screen and (max-width: 992px) {
          font-size: 1em;
          line-height: 1.1em;
        }

        @media only screen and (max-width: 576px) {
          font-size: 0.8em;
          line-height: 16px;
          padding: 1%;
        }

        p {
          margin: 20px 0 0;
        }
      }
    }
  }

  .opened {
    .fly {
      -webkit-animation: fly 2s ease-out;
      animation: fly 2s ease-out;
      -webkit-animation-fill-mode: initial;
      animation-fill-mode: initial;
    }

    @keyframes fly {
      0% {
        transform: translateY(0%);
        z-index: 2;
      }

      100% {
        transform: translateY(-100vh);
        z-index: 2;
      }
    }

    @-webkit-keyframes fly {
      0% {
        transform: translateY(0%);
        z-index: 2;
      }

      100% {
        transform: translateY(-100vh);
        z-index: 2;
      }
    }

  }

  .timedelay {

    #paper {
      animation: paperMovements 2s ease-in;
      -webkit-animation: paperMovements 2s ease-in;
      -webkit-animation-fill-mode: initial;
      animation-fill-mode: initial;
      display: block;
      bottom: -133px;
      margin: 0 auto;

      @media only screen and (max-width: 576px) {
        bottom: -61px;
      }
    }
  }



  .divider-bottom-space {
    height: 0px;
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }

    100% {
      transform: translateZ(2px) translate(0, 0px);
    }
  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }

    100% {
      transform: translateZ(2px) translate(0, 0px);
    }
  }

}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  /* IE10+ CSS styles go here */
  #paper {
    left: 0;
    right:0;
  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .winner-gift-page {

    .letter {
      #paper {
        .primarybtn.btn1 {
          font-size: 1.2em;
        }
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .winner-gift-page {
    .letter {
      #paper {
        .primarybtn.btn1 {
          font-size: 1em;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .winner-gift-page {
    .letter {
      #paper {
        .primarybtn.btn1 {
          font-size: 1em;
        }
      }
    }
  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 220px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 220px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {


  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 200px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 200px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }
}
