<div class="breadcrum" *ngIf="breadcrum">
  <div class="row">
    <div class="col-3">
      <!-- <img
        src="../../assets/img/spend-win.png"
        alt=""
        class="spend-win d-none d-lg-block"
      /> -->
    </div>
    <div class="col-6">
      <div class="status-page z-i5">
        <div class="image" [ngClass]="image1active">
          <div class="image-1"></div>
          <div class="title">Your details</div>
        </div>
        <div class="borde"></div>
        <div class="image" [ngClass]="image2active">
          <div class="image-2"></div>
          <div class="title">Purchase info</div>
        </div>
        <div class="borde"></div>
        <div class="image" [ngClass]="image3active">
          <div class="image-3"></div>
          <div class="title">Reward</div>
          <!-- -- <div class="image-4">
          </div>
          <div class="title">ENTER DRAW</div> -- -->
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>
