//variables
@import '../../../variable.scss';

.winner-gift-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .boxlid {
    height: 150px;
  }

  .bottom-height {
    height: 150px;
  }

  .giftbox {
    perspective: 900px;
    position: relative;
    width: 60%;
    margin: 0px auto;
  }

  #flip {
    z-index: 10;
    display: block;
    width: 60%;
    margin: 0 auto;

    .closeit {
      height: auto;
      width: 100%;
      z-index: 10;
      position: relative;
    }

    .gift_middle img {
      width: 65%;
      margin: 0 auto;
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 11;
    }
  }

  .letter {
    width: 100%;
    margin: 0 5%;

    #paper {
      top: auto;
      bottom: 0vh;
      perspective: 950px;
      perspective-origin: 50%;
      position: absolute;
      width: 90%;
      margin: 0 auto 20px;
      display: none;
      background: #ffffff;
      text-align: center;
      border: 7px solid #000;

      .winner-head {
        width: 90%;
        font-family: $brand-font-family-5;
        margin: 1vh auto;
        // color: #d0021b;
        font-size: 1.8em;
        // font-weight: bold;
        line-height: 38px;

        img {
          width: 100%;
          height: 100%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          padding: 30px 10px 10px;
        }
      }

      .winner-text {
        font-size: 1.5em;
        line-height: 30px;
        padding: 10px 20px;

        p {
          margin: 20px 0 0;
        }
      }

      .entriesdate {
        font-size: 1em;
        line-height: 16px;
        padding: 10px 25px;
      }
    }
  }

  .opened {
    #flip {
      animation: fly 1.5s ease-out;
    }

    @keyframes fly {
      0% {
        transform: translateY(0%);
      }

      100% {
        transform: translateY(-100vh);
      }
    }

    .box {
      z-index: 20;
    }
  }

  .timedelay {

    #paper {
      animation: paperMovements 2s;
      z-index: 15;
      display: block;
      bottom: 26vh;
      margin: 0 auto;
    }
  }

  .box {
    top: 0;
    left: 0;
    position: absolute;
    transform: translateZ(5px);

    img {
      width: 100%;
    }


  }

  .boxIndex {
    z-index: 3 !important;
  }

  .divider-bottom-space {
    height: 0px;
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }

    100% {
      transform: translateZ(2px) translate(0, 0px);
    }
  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }

    100% {
      transform: translateZ(2px) translate(0, 0px);
    }
  }

}


/*==========  Non-Mobile (Desktop) First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .winner-gift-page {

    .letter {
      #paper {
        .winner-head {
          font-size: 1.5em;
          line-height: 32px;
        }

        .winner-text {
          font-size: 1.1em;
          line-height: 1.1em;
        }
      }
    }

    .timedelay {

      #paper {
        bottom: 26vh;
      }
    }

  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }


    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }


    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .winner-gift-page {

    .timedelay {

      #paper {
        bottom: 22vh;
      }
    }

  }

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .winner-gift-page {
    .letter {
      #paper {


        .winner-head {
          font-size: 1.2em;
          //   margin: 40px auto 10px;
          line-height: 32px;
        }

        .winner-text {
          font-size: 1em;
        }

        .primarybtn.btn1 {
          font-size: 1.2em;
        }
      }
    }

    .timedelay {
      #paper {
        bottom: 18vh;
      }
    }

  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 335px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 335px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .winner-gift-page {
    .boxlid {
      height: 110px;
    }

    .bottom-height {
      height: 110px;
    }

    .giftbox {
      width: 90%;
    }

    #flip {
      width: 90%;
    }

    .letter {
      #paper {

        .winner-head {
          font-size: 1.2em;
          line-height: 1.1em;

          img {
            padding: 10px 10px 10px;
          }
        }

        .winner-text {
          font-size: 1em;
        }

        .primarybtn.btn1 {
          font-size: 1em;
        }
      }
    }

    .timedelay {

      #paper {
        bottom: 18vh;
      }
    }

  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .winner-gift-page {

    .boxlid {
      height: 110px;
    }

    .bottom-height {
      height: 110px;
    }

    .giftbox {
      width: 90%;
    }

    #flip {
      width: 90%;
    }

    .letter {
      #paper {
        .winner-head {
          font-size: 1em;
          line-height: 1.1em;
        }

        .winner-text {
          font-size: 0.8em;
          line-height: 16px;
        }

        .primarybtn.btn1 {
          font-size: 1em;
        }

        .entriesdate {
          font-size: 0.8em;
          line-height: 14px;
          padding: 1%;
        }
      }
    }

    .timedelay {

      #paper {
        bottom: 18vh;
      }
    }

  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 320px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }
}

@media only screen and (max-width: 480px) {
  .winner-gift-page {

    .boxlid {
      height: 91px;
    }
  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 248px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 248px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .winner-gift-page {
    .boxlid {
      height: 10vh;
    }

    .letter {
      #paper {
        .winner-text {
          font-size: 0.9em;
          line-height: 18px;
          padding: 1%;
        }

        .entriesdate {
          font-size: 0.8em;
          line-height: 14px;
          padding: 1%;
        }
      }
    }

    .timedelay {
      #paper {
        bottom: 22vh;
      }
    }

  }

  @keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 200px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }

  @-webkit-keyframes paperMovements {
    0% {
      transform: translateZ(1px) translate(0, 200px);
    }

    100% {
      transform: translateZ(3px) translate(0, 0px);
    }
  }
}

/* Landscape */
@media only screen and (max-device-width:767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .winner-gift-page {

    .letter {
      #paper {
        .winner-head {
          img {
            padding: 10px 10px 10px;
          }
        }

        .winner-text {
          font-size: 0.9em;
          line-height: 16px;
          padding: 1%;
        }

        .entriesdate {
          font-size: 0.8em;
          line-height: 14px;
          padding: 1%;
        }
      }
    }

    .timedelay #paper {
      bottom: 22vh;
    }

  }
}
