// - Regular CSS - Desktop First approach - //
//variables
@import '../../../variable.scss';

.thankyou-page {
  //   min-height: 97vh;
  height: 850px;
  color: $brand-color;
  //   background: url('../../../assets/img/background.jpg');

  .winner-container {
    text-align: center;
    width: 805px;
    height: 485px;
    margin: 0.5em auto 1em;
    letter-spacing: -0.4%;
    position: relative;

    .winner-bg {
      width: 800px;
      height: 480px;
      margin: 0.5em auto 0.5em;
      // padding: 2em; // 1em 6em 3em
      // background: url("../../../assets/img/winnerbg.png") no-repeat;
      border-radius: 110px;
      border: 2px solid #ffffff;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,e6e6e6+100 */
      background: rgb(242, 242, 242);
      /* Old browsers */
      background: -moz-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(230, 230, 230, 1) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(242, 242, 242, 1) 0%, rgba(230, 230, 230, 1) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(242, 242, 242, 1) 0%, rgba(230, 230, 230, 1) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e6e6e6', GradientType=0);
      /* IE6-9 */
      // background-position: center center;
    }

    .divider-bottom-space {
      height: 300px;
    }

    .h82 {
      height: 82px;
    }

    .canvas {
      top: 0;
      left: 0;
      position: absolute;
      z-index: 10;
    }

    .winner-head {
      // margin: 10px;
      // font-size: 3em;
      // line-height: 1.6em;
      // font-weight: bold;
      // background: url('../../assets/img/winner.png') no-repeat fixed center;
      width: 70%;
      height: auto;
      // min-height: 120px;
      text-align: center;
      margin: 2em auto 1.5em;
    }

    .winner-text {
      margin: 0.25em;
      line-height: 35px;
      font-size: 31px;
      font-family: $brand-font-family-1;
    }

    .winner-text-1 {
      margin: 0.25em;
      line-height: 25px;
      font-size: 22px;
      font-family: $brand-font-family-1;
    }

    a {
      color: $brand-color;

      &:hover {
        color: $brand-color;
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .thankyou-page {
    height: 740px;

    .winner-container {
      width: 555px;
      height: 425px;

      .winner-bg {
        padding: 0.5em;
        border-radius: 65px;
        width: 550px;
        height: 420px;
      }

      .winner-head {
        margin: 10px auto;
        font-size: 1.3em;
        width: 80%;
        min-height: 40px;
      }

      .winner-text {
        margin: 0.25em;
        line-height: 32px;
        font-size: 28px;
      }

      .winner-text-1 {
        margin: 0.25em;
        line-height: 25px;
        font-size: 21px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {}

/* tablet and phone*/
@media only screen and (max-width: 767px) {
  .thankyou-page {
    // height:550px;
    height: 460px;

    .winner-container {
      // margin: 4em auto 1em;
      // padding: 1em 0.5em;
      width: 300px;
      height: 300px;
      margin: 0.5em auto 0.5em;

      #js-container {
        position: relative;
      }

      // border: 3px solid red;

      .winner-bg {
        border-radius: 30px;
        padding: 0.5em;
        width: 290px;
        height: 295px;
      }

      .winner-head {
        width: 90%;
        height: auto;
        min-height: 50px;
        text-align: center;
        margin: 10px auto;
      }

      .h82 {
        height: 40px;
        margin-bottom: 5px;
      }

      .winner-text {
        margin: 0.25em 0.25em;
        line-height: 21px;
        font-size: 18px;
        font-weight: 700;
      }

      .winner-text-1 {
        margin: 0.25em 0.25em;
        line-height: 18px;
        font-size: 16px;
      }
    }
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}
