<div class="terms-page">
  <p>25 MARTIN PLACE / SPEND &amp; RECEIVE GIFT CARD GIVEAWAY</p>
  <h3>Terms and Conditions</h3>
  <ol>
    <li>
      These terms and conditions apply to entrants to the &lsquo;SPEND &amp;
      RECEIVE GIFT CARD GIVEAWAY&rsquo; Centre Offer (&ldquo;Offer&rdquo;).
      Participation in this Offer is deemed acceptance of these Terms and
      Conditions.
    </li>
    <li>
      The &ldquo;Promoter&rdquo; is Dexus Property Services Pty Ltd (ABN:66 080
      918 252) as agent for Dexus Funds Management Limited as Trustee for Dexus
      Martin Place of 25 Martin Place, Sydney NSW 2000.
    </li>
    <li>
      This Offer will be conducted at 25 Martin Place, Sydney. Phone 02 9224
      8333 (&ldquo;Centre&rdquo;).
    </li>
  </ol>
  <ol start="4">
    <li>NSW Authority No.: TP/03197</li>
  </ol>
  <p><strong>ELIGIBILITY</strong></p>
  <ol start="5">
    <li>
      This Offer is only open to residents of New South Wales aged 18 years or
      over who are able to attend the Centre at 9:00am &ndash; 5:00pm AEDT
      between Monday 20 &ndash; Friday 24 October 2025 and Monday 27 - Friday 31
      October 2025.
    </li>
  </ol>
  <ol start="6">
    <li>
      The following individuals are ineligible to enter the Offer:
      <ol type="a">
        <li>
          Centre Management of the Promoter, or any of the retailers in the
          participating Centre/s or any of the Promoter&rsquo;s agencies that
          are associated with the Offer
        </li>
        <li>
          the spouse, de facto spouse, parent, child or sibling of an individual
          listed in paragraph a.; and
        </li>
        <li>
          any person who the Promoter has previously notified is not permitted
          to enter the Promoter&rsquo;s offers.
        </li>
      </ol>
    </li>
  </ol>
  <p><strong>OFFER PERIOD</strong></p>
  <ol start="7">
    <li>
      This Offer runs between at 9:00am and 5:00pm AEDT daily on Monday 20
      &ndash; Friday 24 October 2025 and Monday 27 - Friday 31 October 2025, or
      until gift stocks run out (whichever is first) (&ldquo;Offer
      Period&rdquo;).
    </li>
  </ol>
  <p><strong>CLAIM INSTRUCTIONS</strong></p>
  <ol start="8">
    <li>
      To claim, eligible individuals must, during the Offer Period:
      <ol type="a">
        <li>
          Spend $10.00 or more at any 25 Martin Place store or venue in one
          transaction. (&ldquo;Qualifying Spend&rdquo;);
        </li>
        <li>
          locate and scan the QR code on promotional material displayed
          throughout the Centre with your smartphone or visit
          www.25mpgiftcardgiveaway.com.au (&ldquo;Website&rdquo;), complete and
          submit the online claim form, including uploading the image of your
          itemised Qualifying Spend receipt dated the same day as entry, and
          providing your name, email address, phone number and all other
          requested information and agree to the terms and conditions;
        </li>
        <li>
          upon successful validation of your claim (allow up to two business
          days), you will receive a SMS with instructions on how to claim your
          $10.00 25 Martin Place Pays-Enabled Digital Prepaid Gift Card (e-gift
          card);
        </li>
        <li>
          if your claim is not successful, you will be notified at the time of
          submission or by email within 2 business days.
        </li>
      </ol>
    </li>
  </ol>
  <ol start="9">
    <li>
      The Promoter is not responsible if your mobile device/desktop is not
      sufficiently capable for the purpose of submitting a claim, including
      having the requisite photograph capability.
    </li>
  </ol>
  <p><strong>CLAIM LIMITS</strong></p>
  <ol start="10">
    <li>There is a limit of one (1) claim per eligible person per week.</li>
    <li>
      Original purchase receipt must be presented as proof of purchase to claim
      an e-Gift Card &ndash; no re-printed receipts will be accepted.
    </li>
    <li>
      The receipt must be dated the same day as competition entry date (cannot
      provide a receipt from a previous day).
    </li>
    <li>
      Only one (1) receipt can be presented to qualify spend for the Offer.
    </li>
    <li>Limited amount of gift cards to be redeemed each day.</li>
  </ol>
  <p><strong>GIFTS</strong></p>
  <ol start="15">
    <li>
      There are 1,500 gifts available for the entire Offer Period, while stocks
      last, awarded on a first-in basis.
    </li>
    <li>Only 150 x e-Gift Cards available each day.</li>
    <li>
      Total prize pool valued at $15,000.00

      <p>Gift allocation:</p>
      <ul>
        <li>Monday 20 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
        <li>Tuesday 21 October 2025&ndash; 150 x $10 e-Gift Cards</li>
        <li>Wednesday 22 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
        <li>Thursday 23 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
        <li>Friday 24 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
        <li>Monday 27 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
        <li>Tuesday 28 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
        <li>Wednesday 29 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
        <li>Thursday 30 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
        <li>Friday 31 October 2025 &ndash; 150 x $10 e-Gift Cards</li>
      </ul>
    </li>
  </ol>

  <ol start="18">
    <li>
      Any ancillary costs associated with redeeming the 25 Martin Place
      Pays-Enabled Digital Prepaid Gift Card (&ldquo;e-Gift Card&rdquo;) are not
      included. The e-Gift Card must be activated within 2 months of issue and
      is valid for 12 months after activation. At expiry of the e-Gift Card any
      unused balance will be forfeited. Eligible Customers will not receive
      notice prior to expiry. Card expiry and balance can be found on your
      mobile device in the Vault Payments App. The e-Gift Card is issued by EML
      Payment Solutions Limited ABN 30 131 436 532 AFSL 404131
      (&ldquo;EML&rdquo;) and distributed by Vault Payment Solutions Group Pty
      Ltd, ABN 66 632 373 105 (&ldquo;Vault&rdquo;). See
      <a href="https://www.vaultps.com.au/terms-conditions"
        >vaultps.com.au/terms-conditions</a
      >
      for terms and conditions.
    </li>
    <li>
      The e-Gift Card can only be used at participating 25 Martin Place
      retailers, see Annexure 1.
    </li>
    <li>
      To activate your e-Gift Card:
      <ol type="a">
        <li>
          Click on the link in the text message to &lsquo;Redeem&rsquo; your 25
          Martin Place e-Gift Card. You have 2 months from the issuance date to
          activate the e-Gift Card.
        </li>
        <li>You must have an Australian mobile number to activate.</li>
        <li>
          You may need to enter your mobile number and the activation code that
          was provided in the SMS.
        </li>
        <li>
          When your 25 Martin Place e-Gift Card is displayed, click &ldquo;Add
          card to wallet&rdquo; and follow the prompts to add your e-Gift Card
          to your phone's mobile wallet (e.g. Apple Pay, Google Pay or Samsung
          Pay).
        </li>
        <li>
          Use the card in the mobile wallet for purchasing goods and services in
          the participating stores within the Shopping Centre associated with
          your claim.
        </li>
        <li>
          Once activated you have 12 months to use your e-Gift Card. You can
          check the balance and the expiry date of your card by returning to the
          link in the SMS and following the steps. Should you have multiple
          cards, you can view and manage all cards by downloading the Vault
          Payments App.
        </li>
      </ol>
    </li>
  </ol>
  <p><strong>UNCLAIMED GIFTS </strong></p>
  <ol start="21">
    <li>
      There will be no unclaimed gifts as gifts will be automatically awarded to
      successful claimant, via the mobile number associated with their entry. It
      is a claimant&rsquo;s responsibility to ensure that they enter their
      mobile number correctly. If they fail to enter their mobile number
      correctly, the gift will be forfeited.
    </li>
  </ol>
  <ol start="22">
    <li>
      Upon successful validation of details, winners have up to two months from
      the date issued to access and activate e-Gift card before prize is
      forfeited.
    </li>
  </ol>
  <p><strong>PROOF OF PURCHASE</strong></p>
  <ol start="23">
    <li>
      You must keep your Qualifying Spend itemised receipt as proof of purchase
      of your claims. Your Qualifying Spend receipt must clearly identify the
      vendor and location, the products purchased (of which must be/comprise the
      Qualifying Spend), the date of purchase (which must be during the Offer
      Period, before you claim), and whether the Qualifying Spend was made.
    </li>
    <li>
      If you don&rsquo;t produce the above proof of purchase for your claim when
      asked, the Promoter may disqualify your claim and you will lose any right
      to a gift.
    </li>
    <li>
      Proof of purchase must be identical to that provided by you with your
      claim.
    </li>
    <li>
      If, in the Promoter's opinion, you have shared any proof of purchase with
      another person, your claim will be invalid and you will lose any right to
      a gift.
    </li>
  </ol>
  <p><strong>GENERAL</strong></p>
  <ol start="27">
    <li>
      You must not:
      <ol type="a">
        <li>
          tamper with the entry process (including but not limited to
          manipulating the system via bots, script use, or any other means to
          circumvent the entry process);
        </li>
        <li>
          engage in any conduct that may jeopardise the fair and proper conduct
          of this Offer;
        </li>
        <li>
          act in a disruptive, annoying, threatening, abusive or harassing
          manner;
        </li>
        <li>
          do anything that may diminish the good name or reputation of the
          Promoter or any of its related entities or of the agencies or
          companies associated with this Offer;
        </li>
        <li>breach any law;</li>
        <li>
          breach any &ldquo;community guidelines&rdquo; issued by the Promoter
          from time to time, published at 25martinplace.com.au or
        </li>
        <li>behave in a way that is otherwise inappropriate.</li>
      </ol>
    </li>
    <li>
      If relevant, incomplete, indecipherable or illegible entries will be
      deemed invalid.
    </li>
  </ol>
  <ol start="29">
    <li>
      If there is a dispute as to the identity of the entrant, the Promoter
      reserves the right to determine the identity of the entrant.
    </li>
  </ol>
  <ol start="30">
    <li>
      Gifts are subject to the standard terms and conditions of individual gift
      and service providers, including any validity period/s, if applicable.
      Gifts and all elements of gifts must be taken as and when offered. If for
      any reason a successful claimant does not take a gift or an element of a
      gift at the time stipulated, then the gift or that element of the gift
      will be forfeited and will not be redeemable for cash. Any failure by you
      or (if applicable) your companion/s to comply with the conditions imposed
      by the gift supplier(s) may result in the gift being cancelled or
      withdrawn without liability for the Promoter or the gift supplier(s).
    </li>
    <li>
      The Promoter is not responsible for any dispute between you and any person
      with whom you choose to, or choose not to, share a gift.
    </li>
  </ol>
  <ol start="32">
    <li>
      If any gift (or part of any gift) is unavailable due to reasons beyond the
      control of the Promoter, the Promoter at its discretion, reserves the
      right to substitute the gift (or that part of the gift) with a gift or
      part of a gift with an equal or higher value and/or specification, subject
      to any written directions from a regulatory authority if applicable.
    </li>
  </ol>
  <ol start="33">
    <li>
      Gifts, or any unused portion of a gift, are not transferable or
      exchangeable and cannot be taken as cash, unless otherwise specified by
      the Promoter.
    </li>
    <li>
      Participants consent to the Promoter using the participant&rsquo;s name,
      likeness, image and/or voice in the event they are a successful claimant
      (including photograph, film and/or recording of the same) in any media
      without remuneration for the purpose of promoting this Offer (including
      any outcome), and promoting any products manufactured, distributed and/or
      supplied by the Promoter or the Promoter&rsquo;s retailer(s).
    </li>
  </ol>
  <ol start="35">
    <li>
      The Promoter reserves the right, at any time, to verify the validity of
      claims (including contacting participating retailers) and participants
      (including a participant&rsquo;s identity, age and place of residence) and
      to disqualify any participant who submits a claim that is not in
      accordance with these Terms and Conditions or who tampers with the claim
      process. Failure by the Promoter to enforce any of its rights at any stage
      does not constitute a waiver of those rights.
    </li>
  </ol>
  <ol start="36">
    <li>
      If this Offer is interfered with or is not capable of being conducted as
      reasonably anticipated due to any reason beyond the reasonable control of
      the Promoter, including but not limited to technical difficulties,
      unauthorised intervention or fraud, the Promoter reserves the right to the
      fullest extent permitted by law to (a) disqualify a participant engaging
      in unauthorised intervention or fraud; or (b) to modify, suspend,
      terminate or cancel the Offer, as appropriate and if applicable, subject
      to any written directions from a regulatory authority.
    </li>
  </ol>
  <ol start="37">
    <li>
      If any dispute arises concerning the conduct of this Offer, the Promoter
      will take reasonable steps to consider your point of view, taking into
      account any facts or evidence you put forward, and to respond to it fairly
      within a reasonable time. However, the Promoter&rsquo;s decision is final,
      and no correspondence will be entered into.
    </li>
  </ol>
  <ol start="38">
    <li>
      Any cost associated with accessing the promotional website is the
      participant&rsquo;s responsibility and is dependent on the internet
      service provider used. The use of any automated claim software or any
      other mechanical or electronic means that allows a participant to
      automatically claim repeatedly is prohibited and will render all claims
      submitted by that participant invalid.
    </li>
    <li>
      Your claim must be received during the Offer Period (or as otherwise
      specified in these Terms and Conditions) and will be deemed to be received
      only when received by the Promoter. If online or SMS claiming is
      available, you will receive a return message confirming your claim. You
      are responsible for your own costs associated with claiming. If you claim
      using multiple phone numbers/email addresses/addresses/aliases, you may be
      disqualified.
    </li>
  </ol>
  <ol start="40">
    <li>
      The Promoter is not responsible for any tax implications arising from you
      claiming a gift. You should seek independent financial advice. If for GST
      purposes this Offer results in any supply being made for non-monetary
      consideration, you must follow the Australian Taxation Office&rsquo;s
      stated view that where the parties are at arm&rsquo;s length, goods and
      services exchanged are of equal GST inclusive market values.
    </li>
  </ol>
  <ol start="41">
    <li>
      Nothing in these Terms and Conditions limit, exclude or modify or purports
      to limit, exclude or modify the statutory consumer guarantees as provided
      under the Competition and Consumer Act 2010 (Cth), as well as any other
      implied warranties under similar consumer protection laws in NSW
      (&ldquo;Non-Excludable Guarantees&rdquo;).
    </li>
  </ol>
  <ol start="42">
    <li>
      The Promoter (including their respective officers, employees and agents)
      exclude all liability (including negligence), for any personal injury; or
      any loss or damage (including loss of opportunity); whether direct,
      indirect, special or consequential, arising in any way out of the Offer,
      including without limitation:
      <ol type="a">
        <li>any technical difficulties or equipment malfunction;</li>
        <li>any theft, unauthorised access or third party interference;</li>
        <li>
          any claim or correspondence that is late, lost, altered, damaged or
          misdirected due to any reason beyond the reasonable control of the
          Promoter;
        </li>
        <li>
          any variation in the gift value to that stated in these Terms and
          Conditions;
        </li>
        <li>any tax liability incurred by a participant; or</li>
        <li>use of the gift,</li>
      </ol>
      <p>
        except for any liability which under statute, including under the
        Non-Excludable Guarantees, cannot be excluded (in which case that
        liability is limited to the greatest extent allowed by law).
      </p>
    </li>
  </ol>

  <ol start="43">
    <li>
      This Offer is in no way sponsored, endorsed or administered by, or
      associated with any social media platform, including Instagram or
      Facebook. You provide your information to the Promoter and not to any
      social media platform. You completely release any relevant social media
      platforms from any and all liability.
    </li>
  </ol>
  <p><strong>PRIVACY</strong></p>
  <ol start="44">
    <li>
      In order to conduct this Offer, the Promoter needs to collect personal
      information about each participant and may for this purpose, disclose such
      information to third parties, including but not limited to agents,
      contractors, service providers, gift suppliers and, if required, to
      Australian regulatory authorities. Participation in the Offer is
      conditional on providing this information.
    </li>
  </ol>
  <ol start="45">
    <li>
      By participating, you consent to the Promoter using this information for
      promotional, marketing, publicity and research purposes, including
      telephoning the participant or sending email or SMS messages provided that
      where required by the <em>Spam Act 2003</em> (Cth), the Promoter includes
      a functional unsubscribe facility in each direct marketing communication
      it sends you that you may use to opt-out of any further such
      communications and provided that the functional unsubscribe facility
      complies with the <em>Spam Regulations 2021</em> (Cth). You also consent
      to receive email or SMS messages from the Promoter without any functional
      unsubscribe facility if they relate primarily to the conduct of this
      Offer. The Promoter may use your personal information for such other
      purposes as set out in the Dexus Group Privacy Policy, which is available
      at
      <a href="https://www.dexus.com/general/privacy-policy.html"
        >https://www.dexus.com/general/privacy-policy.html</a
      >. Unless otherwise indicated by the Promoter, the Promoter may disclose
      personal information to entities outside of Australia, including in the
      United States, Europe and the Asia-Pacific region.
    </li>
  </ol>
  <ol start="46">
    <li>
      In order to facilitate the collection or redemption of gifts, you may need
      to provide your personal information to third parties (such as retailers)
      associated with this offer. The collection, use and disclosure of your
      personal information by such third party will be in accordance with the
      relevant third party&rsquo;s privacy policy. If you have marked the
      &ldquo;opt-in&rdquo; box on the claim form relating to a third party
      collecting your personal information, you consent to the storage of your
      personal information on the specified third party's database/s and the
      specified third party may use this information for future promotional and
      marketing purposes regarding their products and services including
      contacting you via electronic messaging provided that where required by
      the Spam Act 2003 (Cth), the third party includes a functional unsubscribe
      facility in each direct marketing communication it sends you that you may
      use to opt-out of any further such communications and provided that the
      functional unsubscribe facility complies with the Spam Regulations 2021
      (Cth). You should contact the relevant third party/ies for their privacy
      policy/ies.
    </li>
  </ol>
  <ol start="47">
    <li>
      The Dexus Group Privacy Policy also contains information about how
      participants may access, update or correct their personal information and
      how Australian participants may complain about a breach of the Australian
      Privacy Principles and how those complaints will be dealt with.
    </li>
  </ol>
  <p><strong>Annexure 1 </strong></p>
  <p>
    Participating retailers and locations in which to redeem the e-Gift Card.
    <br />
    Retailers open and trading as at 3 October 2025
  </p>
  <ol type="I">
    <li>
      25 Martin Place, 25 Martin Place Sydney NSW
      <ul>
        <li>Aalia</li>
        <li>Aalia Wine Room</li>
        <li>Bar Fino</li>
        <li>BP Deluxe Nails &amp; Beauty</li>
        <li>Brunello Cucinelli</li>
        <li>BunMe</li>
        <li>Cabana Bar</li>
        <li>Cali Press</li>
        <li>Chaska</li>
        <li>City Physio &amp; Pilates</li>
        <li>Costi's Fish &amp; Chips @ Martin Place</li>
        <li>Deli Ziosa</li>
        <li>Dolce &amp; Gabbana</li>
        <li>Dopa Donburi</li>
        <li>Double Chin Eats</li>
        <li>Eat Istanbul</li>
        <li>Flight Centre</li>
        <li>Messina</li>
        <li>Guzman Y Gomez</li>
        <li>Health Beauty Massage</li>
        <li>Kazan</li>
        <li>KFC</li>
        <li>Kosta's Takeaway</li>
        <li>Ko-V Korean Street Food</li>
        <li>Malkonyan Styling Bar</li>
        <li>Mamaks Village</li>
        <li>Martin Place Doctors</li>
        <li>Maurice Dry Cleaners</li>
        <li>Mens Culture Barber</li>
        <li>Missoni</li>
        <li>Mr and Mrs Pho</li>
        <li>Pasta Pantry</li>
        <li>Pharmacy @ 25 Martin Place</li>
        <li>Portafilter</li>
        <li>Romeo's IGA Food Hall</li>
        <li>Rovollo</li>
        <li>Schnitz</li>
        <li>Sharetea</li>
        <li>Soul Origin</li>
        <li>Stock Market Kitchen</li>
        <li>Sushi Hon</li>
        <li>The International</li>
        <li>The Lucky Charm Newsagency</li>
        <li>Toby's Estate</li>
        <li>Top Juice</li>
        <li>Travelex</li>
        <li>Urban Barrel</li>
        <li>Valentino</li>
      </ul>
    </li>
  </ol>
</div>
