<div class="thankyou-safelocker-page">
  
  <!-- <div class="divider-top-space"></div> -->
  <div class="container-fluid thankyou-safelocker-container">
    <div class="perspective" (click)="openDoor()" [ngClass]="preStyle">
      <div class="thumb" [ngClass]="safelockerStyle"></div>
      <div class="thumb1" [ngClass]="safelockeropenStyle"></div>
      <!-- <img class="thumb" #locker src="{{src}}" [ngClass]="safelockerStyle"> -->
      <div class="thankyou-container" #opencontent [ngClass]="displayStyle">
        <div class="row">
          <div class="col-12">
            <div class="thankyou-head">
              <!-- <img src="../../assets/img/logo.pngkz" alt=""> -->
              No instant prize this time.
            </div>
          </div>
        </div>
        <!-- <hr> -->
        <div class="row">
          <div class="col-12">
            <div class="thankyou-text">
              You have been entered into the draw for a chance to win a $1,000 Gift Card.
              <!-- <a (click)="openModal(participat)">participating store</a> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="thankyou-text-1">
              Remember you can enter as many times as you like, provided you have made a qualifying purchase of $10 or
              more.
            </div>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
              <div><small>ENTRIES CLOSE 9PM, 31 MARCH 2019.</small></div>
            </div>
          </div> -->
        <div class="row">
          <div class="col-12 text-center">
            <div class="primarybtn btn1" (click)="onDone()">
              DONE
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <div class="fourthbtn btn2" (click)="anotherCode()">
              ENTER ANOTHER SPEND
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>