<!-- <div class="plantanimat" [ngClass]="animationStyle" (click)="startAnimation()">
  <button class="btn fifthbtn" [ngClass]="displayStyle">TOUCH HERE</button>
</div> -->
<!-- <div class="thankyou-page-animation-static" [ngClass]="displayStyle1" ></div> -->

  <div class="plantanimat" [ngClass]="animationStyle"  (click)="startAnimation()">
      <button class="btn fifthbtn" [ngClass]="displayStyle">TOUCH HERE</button>
  </div>
  <div class="plantanimat" [ngClass]="animationStyle1" (click)="startAnimation()" >
      <button class="btn fifthbtn" [ngClass]="displayStyle">TOUCH HERE</button>
  </div>


<div class="thankyou-plant-page" >
  <!-- <div class="app-content-wrapper m0">
    </div> -->
  <section class="container">
    <div class="divider-top-space"></div>
    <div class="thankyou-container"  [@fadeIn]>
      <div class="row">
        <div class="col-12">
          <div class="thankyou-head">
            <!-- No instant prize this time. -->
            BETTER LUCK
            <br>
            <span>NEXT TIME</span>
            <!-- <img src="../../assets/img/Betterluck-Title.png" alt=""> -->
          </div>
        </div>
      </div>
      <!-- <hr> -->
      <div class="row">
        <div class="col-12">
          <div class="thankyou-text">
            You been entered into the major prize draw for a chance to win a new Spring wardrobe valued at $3,000 and a
            stylist session!*
            <br>
            Good luck!
            <!-- <a (click)="openModal(participat)">participating store</a> -->
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-12">
          <div class="thankyou-text-1">
            <-- Remember you can enter again tomorrow for another chance to win! -- <img
              src="../../assets/img/goldenticket.png" alt="">
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
          <div class="col-12">
            <div><small>ENTRIES CLOSE 9PM, 31 MARCH 2019.</small></div>
          </div>
        </div> -->
      <div class="row">
        <div class="col-12 text-center">
          <div class="primarybtn btn1" (click)="onDone()">
            DONE
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-12 text-center">
            <div class="thirdbtn btn2" (click)="anotherCode()">
              ENTER ANOTHER SPEND
            </div>
          </div>
        </div>
    </div>
  </section>
  <!-- <div class="divider-bottom-space"></div> -->
</div>
<!-- <div class="ribbon">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <strong>Entries close 5pm, Sunday 16 September 2018.</strong>
        </div>
      </div>
    </div>
  </div> -->
<ng-template #participat>
  <div class="modal-header">
    PARTICIPATING STORES
    <button type="button" class="close float-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Entries available at participating stores within any of the following Vicinity shopping centres.
    <div class="two-col">
      <ng-container>
        <div class="mr-btm">
          <strong>New South Wales</strong>
          <div *ngFor="let Lscenters of this.campaignCenterService.centers">
            <a href="{{Lscenters.website}}" target="_blank">
              <div *ngIf="Lscenters.state==='NSW'">{{Lscenters.name}}</div>
            </a>
          </div>
        </div>
        <div class="mr-btm">
          <strong>Queensland</strong>
          <div *ngFor="let Lscenters of this.campaignCenterService.centers">
            <a href="{{Lscenters.website}}" target="_blank">
              <div *ngIf="Lscenters.state==='QLD'">{{Lscenters.name}}</div>
            </a>
          </div>
        </div>
        <div class="mr-btm">
          <strong>South Australia</strong>
          <div *ngFor="let Lscenters of this.campaignCenterService.centers">
            <a href="{{Lscenters.website}}" target="_blank">
              <div *ngIf="Lscenters.state==='SA'">{{Lscenters.name}}</div>
            </a>
          </div>
        </div>
        <div class="mr-btm">
          <strong>Tasmania</strong>
          <div *ngFor="let Lscenters of this.campaignCenterService.centers">
            <a href="{{Lscenters.website}}" target="_blank">
              <div *ngIf="Lscenters.state==='TAS'">{{Lscenters.name}}</div>
            </a>
          </div>
        </div>
        <div class="mr-btm">
          <strong>Victoria</strong>
          <div *ngFor="let Lscenters of this.campaignCenterService.centers">
            <a href="{{Lscenters.website}}" target="_blank">
              <div *ngIf="Lscenters.state==='VIC'">{{Lscenters.name}}</div>
            </a>
          </div>
        </div>
        <div class="mr-btm">
          <strong>Western Australia</strong>
          <div *ngFor="let Lscenters of this.campaignCenterService.centers">
            <a href="{{Lscenters.website}}" target="_blank">
              <div *ngIf="Lscenters.state==='WA'">{{Lscenters.name}}</div>
            </a>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>