// - Regular CSS - Desktop First approach - //
//variables
@import "../../variable.scss";
.form-control {
  // background: #ffffff !important;
  // border: 1px solid $brand-color-7 !important;
  color: $black;
  // border-radius: 0;
}

.multiple-unique-code-page {
  padding: 2.5rem 0;
  .enter-code-confirmation-container {
    background-color: $brand-color-2;
    padding: 20px;
    margin: 0px auto 20px;
    .code-confirmation-container {
      border: 3px solid black;
      padding: 20px;
      .enter-code-text {
        font-size: 40px;
        line-height: 40px;
      }
      .unique-box-img {
        img {
          width: 100%;
        }
      }
    }
  }
  .enter-code-container {
    margin: 0.3em auto;
    padding: 5px;
    text-align: left;
    width: 75%;
    // color:black;
    .enter-code-text {
      font-family: $brand-font-family;
      // color:$brand-color;
      margin: 1em $marginscreenalignment 0.5em;
      line-height: 32px;
      // font-weight: bold;
      font-size: 1.5em;
      text-align: $textalignment;
    }
    .enter-the-digit {
      width: 620px;
      height: 153px;
      font-size: 27px;
      font-weight: normal;
      font-style: normal;
      font-stretch: condensed;
      line-height: normal;
      letter-spacing: normal;
      text-align: $textalignment;
      color: #ffffff;
    }
    .error-text {
      color: red;
    }
    .code-container-img {
      background-attachment: fixed;
      background-position: left top;
      display: block;
      //   background: url('../../assets/img/uniquecode-desktop.jpg') no-repeat;
    }
    .enter-code-img {
      display: none;
      // background-color: #ffffff;
      img {
        display: none;
        //   padding: 20px;
      }
    }
    .unique-box {
      font-family: $brand-font-family-1;
      // background-color: black;
      color: #ffffff;
      .unique-text {
        padding: 10px;
        text-align: center;
      }
      // .code-pad {
      //   // padding: 2px;
      //   border:2px solid black;
      // }
      .code-pad-item {
        // padding: 0px 2px 0px 2px;
        // margin-right: 1%;
        // margin-bottom: 5px;
        width: 100%;
        input {
          width: 100%;
          font-size: 10vw;
          color: $brand-color;
          text-transform: uppercase;
          text-align: center;
          // background-color: $brand-color;
          // border:1px solid #fff;
          // background: url("../../assets/img/carboot/carPlate.png") no-repeat;
          background-size: contain;
          background-position: center;
          border: 0;
          padding: 50px;
          margin-bottom: 10px;
          @media (min-width: 1500px) {
            font-size: 150px;
          }
        }
        input:-internal-autofill-selected {
          background-color: transparent !important;
        }
      }
    }
  }
  .spent-form-container {
    width: 80%;
    // color: $brand-color;
    margin: 0.3em auto 0.3em;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive(desktop) {
      width: 80%;
    }
    @include responsive(tablet) {
      width: 100%;
    }
    @include responsive(phone) {
      width: 100%;
    }
    label {
      font-weight: 500;
      text-align: left;
      font-family: $brand-font-family-8;
    }
    .plus {
      font-family: $brand-font-family-1;
      // color: $brand-color-4;
      font-size: 35px;
      line-height: 40px;
      // font-weight: 600;
      margin: 1vh $marginscreenalignment;

      img {
        width: 30%;
        margin: 5vh auto 3vh;
      }
    }
    .header-border {
      width: 150px;
      margin: 0 auto;
      border: 4px solid $brand-color-6;
      @include responsive(phone) {
        width: 100px;
        border: 3px solid $brand-color-6;
      }
    }
    .title {
      font-size: 2rem;
      line-height: 2.5rem;
      color: $brand-color-2;
      font-weight: bold;
      font-family: $brand-font-family-5;
      @include responsive(phone) {
        font-size: 1.7rem;
        line-height: 2.2rem;
      }
    }
    .subtitle {
      font-size: 1.1rem;
      line-height: 1.7rem;
      @include responsive(phone) {
        font-size: 1.1rem;
        line-height: 1.7rem;
      }
    }
    .subtitle-2 {
      font-size: 1.1rem;
      line-height: 1.7rem;
      font-family: $brand-font-family-8;

      @include responsive(phone) {
        font-size: 1rem;
        line-height: 1.7rem;
      }
    }
    .subtitle-3 {
      font-size: 1rem;
      line-height: 1.6rem;
      @include responsive(phone) {
        font-size: 1rem;
        line-height: 1.7rem;
      }
    }
    .form-control {
      // border: 2px solid #fff;
      height: 45px;
      margin-bottom: 2%;
      font-size: 1em;
      // border-top: 2px solid $brand-color-7 !important;
      // border-right: 2px solid $brand-color-7 !important;
      // border-bottom: 2px solid $brand-color-7 !important;
      // border-radius: 0;
    }
    .amount-spent {
      // border-left: 0px solid !important;
      border-radius: 0px $btn_radius $btn_radius 0px !important;
    }
    .filter-wrapper {
      min-height: 100%;
      flex-flow: column wrap;
      position: relative;
    }
    .keyword-wrapper {
      width: 100%;
      position: relative;
    }
    .filter-select {
      width: 100%;
      list-style: none;
      font-size: 1.1em;
      // border: 1px solid #ccc;
      // border-top: none;
      background-color: #f9f9f9;
      // min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      color: rgb(105, 105, 105);
      /*so things don't jump around*/
      position: absolute;
      // left: 25%;
      /*Since we know the wrapper will always be 100% height, we can use half of 100% + half the height of the input*/
      top: calc(50% + 10px);
      /*for a better calculation use JS.  I'm calculating half of the body height - half the height of the input - li padding*/
      max-height: 100px; //calc(75% - 15px);
      overflow-y: auto;
      background: #fff;
      padding-left: 0px;
      z-index: 5;
      // display: none;
      button {
        background-color: #f9f9f9;
      }
    }
    .filter-select-list {
      cursor: pointer;
      padding: 0px 10px;
    }
    .tags {
      font-size: 1em;
      line-height: 1.6rem;
      // font-style: italic;
      color: #000000;
      background-color: #ffffff;
      margin-right: 10px;
      position: relative;
      // top: -10px;
      border: 0;
      display: block;
      width: 100%;
      text-align: left;
    }
    .form-horizontal {
      width: 100%;
    }
    .retailer-item {
      position: relative;
      .retailer-item-date {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // padding: 0px 30px;
        @include responsive(phone) {
          padding: 0px 0px;
        }
      }
      .retailer-item-label {
        padding: 30px;
        width: 100%;
        display: none;
        border: 1px solid $white;
        .row {
          display: flex;
          align-items: center;
        }
      }
      .retailer-item-input {
        // padding: 1rem; //1.5rem 0;
        // padding: 0rem 0 1rem;
        margin-top: 10px;
        display: block;
        // border: 1px solid $white;
      }
      .btn-remove-retailer {
        background: #ffffff;
        border-radius: 25px;
        font-family: $brand-font-family-7;
        border: none;
        font-size: 13.5px;
        float: right;
        font-weight: bold;
        color: #ee5b22;
        padding: 6px 13px;
        &:hover {
          background: $brand-color-9;
          color: $brand-color-7;
        }
      }
    }
    .input-calendar {
      position: relative;
      display: inline-flex;
      width: 100%;
      align-items: center;
      input {
        margin: 0;
      }
      label {
        width: 45px;
        margin: 0;
        margin-left: 18px;
        img {
          cursor: pointer;
        }
      }
    }
    .input-calendar-mobile {
      position: relative;
      display: inline-flex;
      width: 100%;
      align-items: center;
      input {
        margin: 0;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        // display: none;
        // -webkit-appearance: none;
        opacity: 0;
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      label {
        width: 45px;
        margin: 0;
        margin-left: 18px;
      }
      img {
        cursor: pointer;
      }
      // label {
      //   top: -1px;
      //   right: -1px;
      //   width: 80px;
      //   height: 47px;
      //   position: absolute;
      //   pointer-events: none;
      //   background: $brand-color-1;
      //   img {
      //     width: 45px;
      //     display: block;
      //     margin: 0 auto;
      //     cursor: pointer;
      //   }
      // }
    }
    .takephoto {
      padding: 30px;
      text-align: center;
      border: 2px dashed #80c9ff;
      label {
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
      input {
        display: none;
      }
      .text {
        font-size: 0.8rem;
        line-height: 1.2rem;
        font-family: $brand-font-family-2;
        @include responsive(phone) {
          font-size: 0.8rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}
.modal-body-large-text {
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: -0.1px;
  text-align: center;
  color: #000000;
  height: 300px;
}

.oops {
  // color:$brand-color;
  // font-size: 57px;
  // font-weight: bold;
  // font-style: normal;
  // font-stretch: condensed;
  // line-height: normal;
  // letter-spacing: normal;
  // text-align: center;
  // color: #f8971d;
}

.Looks-like-this-code .text-style-1 {
  line-height: 1.15;
}

.radio-inline {
  margin-right: 10px;

  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    transition: all 0.15s ease-out 0s;
    background-color: #ffffff;
    // border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.2em 0.5em 0;
    outline: none;
    position: relative;
    z-index: 1000;
    border: 1px solid $brand-color-7;
    border-radius: 50%;
    &:hover {
      // background: #9faab7;
    }

    &:checked {
      // background: $brand-color-2;
      // color:red;
      // outline: 2px solid $brand-color-2;

      &::before {
        background: $brand-color;
      }
    }

    &::before {
      // height: 20px;
      // width: 20px;
      // font-size: 12px;
      // line-height: 21px;
      // position: absolute;
      // content: '✔';
      // display: inline-block;
      // text-align: center;
      display: block;
      position: relative;
      left: 50%;
      top: 50%;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 10px;
      width: 10px;
      content: "";
      // background: $brand-color-3;
      border-radius: 50%;
    }
    &::after {
      // background: $brand-color;
      content: "";
      display: block;
      position: relative;
      z-index: 100;
    }
  }
}

/* tablet and phone*/

@media only screen and (max-width: 767px) {
  .multiple-unique-code-page {
    .enter-code-confirmation-container {
      background-color: $brand-color-2;
      padding: 20px;
      margin: 0px auto 20px;
      .code-confirmation-container {
        border: 3px solid black;
        padding: 20px;
        .enter-code-text {
          font-size: 25px;
          line-height: 30px;
        }
      }
    }

    .enter-code-container {
      margin: 0.2em auto;
      padding: 0.2em;
      text-align: center;
      width: 75%;
      .enter-code-text {
        margin: 0.25em 0;
        line-height: 32px;
        font-size: 1em;
      }
      .code-container-img {
        display: none;
      }
      .enter-code-img {
        background-color: #ffffff;
        display: block;
        img {
          display: block;
          padding: 20px;
        }
      }
      .enter-the-digit {
        width: 260px;
        height: 153px;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
      .unique-box {
        // background-color: black;
        color: #ffffff;
        .unique-text {
          padding: 10px;
        }
        // .code-pad {
        //   // padding: 2px;
        //   border:2px solid black;
        // }
        .code-pad-item {
          // padding: 0px 2px 0px 2px;
          // margin-right: 1%;
          // margin-bottom: 5px;
          width: 100%;
          input {
            width: 100%;
            font-size: 10vw;
            color: $brand-color;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 576px) {
  .multiple-unique-code-page {
    .enter-code-container {
      width: 95%;
      .enter-code-text {
        font-size: 1em;
        line-height: 22px;
        margin-bottom: 20px;
      }
    }
    .spent-form-container {
      .retailer-item {
        .retailer-item-label {
          padding: 20px;
        }
        .retailer-item-input {
          // padding: 0 20px;
          padding: 0px;
        }
        .btn-remove-retailer {
          padding: 3px 6px;
          font-size: 10px;
        }
      }
    }
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
