// - Regular CSS - Desktop First approach - //
//variables
@import "../../variable.scss";

.unique-code-page {
  margin: 0;

  .enter-code-container {
    margin: 0.3em auto;
    padding: 5px;
    text-align: left;
    width: 75%;

    .code-container {
      min-height: 59vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    // color:black;
    .enter-code-text {
      color: $brand-color-1;
      font-family: $brand-font-family-2;
      margin: 3em $marginscreenalignment 0.5em;
      line-height: 36px;
      font-weight: 700;
      width: 80%;
      font-size: 1.7rem;
      text-align: $textalignment;
      @include responsive(desktop) {
        width: 100%;
      }
      @include responsive(phone) {
        font-size: 1.2rem;
        line-height: 25px;
        margin-bottom: 20px;
      }
    }
    .nom-text {
      font-family: $brand-font-family-2;
      width: 80%;
      @include responsive(tablet) {
        width: 100%;
      }
    }

    .enter-the-digit {
      width: 620px;
      height: 153px;
      font-size: 27px;
      font-weight: normal;
      font-style: normal;
      font-stretch: condensed;
      line-height: normal;
      letter-spacing: normal;
      text-align: $textalignment;
      color: #ffffff;
    }

    .code-container-img {
      background-attachment: fixed;
      background-position: left top;
      display: block;
      //   background: url('../../assets/img/uniquecode-desktop.jpg') no-repeat;
    }

    .enter-code-img {
      display: none;

      // background-color: #ffffff;
      img {
        display: none;
        //   padding: 20px;
      }
    }
    .unique-box {
      font-family: $brand-font-family-1;
      // background-color: black;
      color: #ffffff;
      // border-bottom: 3px dotted white;
      .unique-text {
        padding: 10px;
        text-align: center;
      }
      // .code-pad {
      //   // padding: 2px;
      //   border:2px solid black;
      // }
      .code-pad-item {
        // padding: 0px 2px 0px 2px;
        // margin-right: 1%;
        // margin-bottom: 5px;
        width: 100%;
        // $char-w: 1ch;
        // $gap: .5*$char-w;
        // $n-char: 4;
        // $in-w: $n-char*($char-w + $gap);
        input {
          display: block;
          width: 590px;
          margin: 1.5vh auto;
          letter-spacing: 18px;
          font-size: 7.2rem;
          text-align: center;
          color: $brand-color-2;
          font-weight: bold;
          padding: 20px 40px;
          text-transform: uppercase;
          // background-color: $brand-color-2;
          border: 4px solid #5acade;
          font-family: $brand-font-family-3;

          @include responsive(desktop) {
            width: 90%;
          }
          @include responsive(tablet) {
            font-size: 2.5rem;
            width: 100%;
          }
          //  input::before{
          //   text-decoration: 4px dashed ;
          // }
          // padding-top: 3vh;
          // padding-left:2vh;
          // width: $in-w+0.2;
          // background: repeating-linear-gradient(90deg,
          // $brand-color-3 0, $brand-color-3 $char-w,
          //   transparent 0, transparent $char-w + $gap)
          //   0 80%/ #{$in-w - $gap} 2px no-repeat;
          // font: 5ch $brand-font-family;
          // letter-spacing: $gap;
          // &:focus {
          //   outline: none;
          //   color: $brand-color-3;
          // }
          // width: 40%;//100%;

          // letter-spacing: 1ch;

          // border: 2px solid $brand-color-5;
          // background: url('../../assets/img/carboot/carplatewhite.png') no-repeat;
          // background-size: contain;
          // background-position: center;
          // border: 0;
          // padding: 5px;//50px;
          // margin-bottom: 10px;
          // margin-left:25%;

          // @media (min-width:1500px) {
          //   font-size: 3vw;
          // }
          // @include responsive(phone) {
          //   // margin-left:0;
          //   font-size: 12vw;
          //   // width:60%;
          // }
        }
        // input:-internal-autofill-selected {
        //   background-color: transparent !important;
        // }
      }
    }
  }

  .spent-form-container {
    width: 70%;
    margin: 0 auto;
    max-width: 600px;
    color: $brand-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive(pc) {
      width: 70%;
    }
    @include responsive(tablet) {
      width: 100%;
    }
    @include responsive(phone) {
      width: 100%;
    }
    .plus {
      font-family: $brand-font-family-5;
      color: $brand-color-3;
      font-size: 30px;
      line-height: 40px;
      margin: 1vh auto;
      text-align: center;
      img {
        display: block;
        margin: 6vh auto 3vh;
        @include responsive(phone) {
          margin: 6vh auto 3vh;
        }
      }
    }
    .subtitle {
      font-family: $brand-font-family-2;
      line-height: 36px;
      font-size: 1.7rem;
      text-align: center;
      text-transform: uppercase;
      @include responsive(phone) {
        font-size: 1.2rem;
        line-height: 25px;
        // margin-bottom: 20px;
      }
    }
    .description {
      font-family: $brand-font-family;
      margin: 0 auto;
      text-align: center;
      font-size: 1.3rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      @include responsive(desktop) {
        width: 100%;
      }
      @include responsive(tablet) {
        width: 100%;
        font-size: 1rem;
      }
    }
    label {
      font-weight: 500;
      text-align: left;
    }
    .error-text {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      @include responsive(desktop) {
        width: 100%;
      }
    }
    .input-calendar {
      position: relative;
      display: inline-flex;
      width: 100%;
      align-items: center;
      input {
        margin: 0;
      }
      label {
        width: 51px;
        margin: 0;
        margin-left: 10px;
        img {
          cursor: pointer;
        }
      }
    }
    .input-calendar-mobile {
      position: relative;
      display: inline-flex;
      width: 100%;
      align-items: center;
      input {
        margin: 0;
      }
      label {
        top: 0px;
        right: 0;
        width: 53px;
        position: absolute;
        pointer-events: none;
        background: #000;
        padding: 0 0 0 10px;
        img {
          cursor: pointer;
        }
      }
    }

    .form-control {
      // border: 2px solid #fff;
      height: 43px;
      color: #000000;
      margin-bottom: 2%;
      font-size: 1em;
      border: 0px;
      // border: 2px solid $brand-color-5;
    }

    .filter-wrapper {
      min-height: 100%;
      flex-flow: column wrap;
      position: relative;
    }

    .keyword-wrapper {
      width: 100%;
      position: relative;
    }

    .filter-select {
      width: 100%;
      list-style: none;
      font-size: 1.1em;
      // border: 1px solid #ccc;
      // border-top: none;
      background-color: #f9f9f9;
      // min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      color: rgb(105, 105, 105);
      /*so things don't jump around*/
      position: absolute;
      // left: 25%;
      /*Since we know the wrapper will always be 100% height, we can use half of 100% + half the height of the input*/
      top: calc(50% + 10px);
      /*for a better calculation use JS.  I'm calculating half of the body height - half the height of the input - li padding*/
      max-height: 100px; //calc(75% - 15px);
      overflow-y: auto;
      background: #fff;
      padding-left: 0px;
      z-index: 5;
      display: none;
    }

    .filter-select-list {
      cursor: pointer;
      padding: 0px 10px;
    }

    .tags {
      font-size: 1em;
      // font-style: italic;
      color: #c6c6c6;
      margin-right: 10px;
      position: relative;
      // top: -10px;
      border: 0;
      display: block;
      width: 100%;
      text-align: left;
    }

    .form-horizontal {
      width: 70%;
      margin: 0 auto;
      @include responsive(desktop) {
        width: 100%;
      }
    }
    .takephoto {
      padding: 30px;
      text-align: center;
      border: 1px dashed #ffffff;
      label {
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
      input {
        display: none;
      }
      .text {
        font-size: 1rem;
        font-family: $brand-font-family-2;
        @include responsive(phone) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.modal-body-large-text {
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: -0.1px;
  text-align: center;
  color: #000000;
  height: 300px;
}
.oops {
  // font-size: 57px;
  // font-weight: bold;
  // font-style: normal;
  // font-stretch: condensed;
  // line-height: normal;
  // letter-spacing: normal;
  // // text-align: center;
  // color: $brand-color;
}

.Looks-like-this-code .text-style-1 {
  line-height: 1.15;
}

/* tablet and phone*/

@media only screen and (max-width: 767px) {
  .unique-code-page {
    .enter-code-container {
      margin: 0.2em auto;
      padding: 0.2em;
      text-align: center;
      width: 75%;

      .enter-code-text {
        // margin: 0.25em 0;
        // line-height: 28px;
        // font-size: 23px;
      }

      .code-container-img {
        display: none;
      }

      .enter-code-img {
        background-color: #ffffff;
        display: block;

        img {
          display: block;
          padding: 20px;
        }
      }

      .enter-the-digit {
        width: 260px;
        height: 153px;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }

      .unique-box {
        // background-color: black;
        color: #ffffff;

        .unique-text {
          padding: 10px;
        }

        // .code-pad {
        //   // padding: 2px;
        //   border:2px solid black;
        // }
        .code-pad-item {
          // padding: 0px 2px 0px 2px;
          // margin-right: 1%;
          // margin-bottom: 5px;
          width: 100%;
          input {
            // // width: 50%;
            // font-size: 14vw;
            // width: 6.2ch;
            // // font-size: 6vw;
            // // margin: 1vh auto;
            // font: 3ch $brand-font-family;
            // letter-spacing: 0.5ch;
            // padding-left: 0%;
            // padding-right: 0%;
            // // color:$brand-color;
            // // text-transform: uppercase;
            // &:focus {
            //   outline: none;
            //   color: $brand-color-3;
            // }
          }
        }
      }
    }
  }
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 576px) {
  .unique-code-page {
    .enter-code-container {
      width: 95%;

      .enter-code-text {
        // font-size: 1em;
        // line-height: 22px;
        // margin-bottom: 20px;
      }
      // .code-pad-item {
      //   // padding: 0px 2px 0px 2px;
      //   // margin-right: 1%;
      //   // margin-bottom: 5px;
      //   width: 100%;
      //   input {
      //     // width: 50%;
      //     font-size: 5vw;
      //     // width:6.1ch;
      //     // font-size: 6vw;
      //     margin: 1vh auto;
      //     // font: 4ch $brand-font-family;
      //     letter-spacing: 0.3ch;
      //     // color:$brand-color;
      //     // text-transform: uppercase;
      //   }
      // }
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
